@import "./palette";


.context {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (max-width: $sm) {
        padding: 20px;
    }
}

.header {
    font-family: 'Montserrat Alternates';
    text-align: center;
    margin-bottom: 30px;
}

.form {
    width: 100%;
    height: 100%;
}

///////////////////////////////////////////////////////////////////

.tabButtons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1d1d27;
    border-radius: 30px;
    user-select: none;
}

.tabButton {
    all: unset;
    flex-grow: 1;
    z-index: 100;
    display: flex;
    cursor: pointer;
    color: white;
    font-family: 'Montserrat Alternates';
    font-weight: 600;
    position: relative;
    border-radius: 50%;
    align-items: center;
    will-change: transform;
    justify-content: center;
    padding: 0.55em 0 0.85em;
    transition: 0.7s;

    &::before {
        content: "";
        z-index: -1;
        width: 4.2em;
        height: 4.2em;
        border-radius: 50%;
        position: absolute;
        transform: scale(0);
        transition: 0.7s;
    }
}

.tabButtonActive {
    transform: translate3d(0, -.8em , 0);
    &::before {
        transform: scale(1);
        background-color: $primary;
    }
}

///////////////////////////////////////////////////////////////////

.tab {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    opacity: 0;
    display: none;
    transition: opacity 0.3s;
    @media (max-width: $sm) {
        padding: 10px;
    }
}

.tabActive {
    display: initial;
    opacity: 1;
    transition: opacity 0.3s 0.4s;
}

///////////////////////////////////////////////////////////////////

.mediaChooserWrapper {
    width: 750px;
    height: 500px;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.errorMessage {
    color: rgb(252, 77, 77);
    margin-top: 10px;
    user-select: none;
    text-align: center;
}

///////////////////////////////////////////////////////////////////

.textTabWrapper {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.titleInput, .textInput {
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.242);
    padding: 5px;
    font-family: 'Quicksand';
    font-size: medium;
    font-weight: 600;
    margin-bottom: 5px;
    outline: none;
}

.titleInput {
    height: 30px;
}

.textInput {
    height: 100%;
    resize: none;
}

.submitButton {
    height: 40px;
    margin-top: 5px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    background: linear-gradient(45deg, $primary, $secondary);
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        transform: translateY(-3px);
        transition: 0.3s;
    }
}
