@import "/styles/palette";

.context {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url('/pages/index/background.jpg');
    background-size: cover;
}

.container {
    max-width: 450px;
    padding: 20px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.779);
    border-radius: 8px;
    transition: 0.3s;
    @media (max-width: $sm) {
        width: 100%;
        height: 100%;
        margin: 0;
        border-radius: 0;
        transition: 0.3s;
    }
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 2px 8px 2px 8px;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.169);
    user-select: none;
}

.navbarInner {
    height: 100%;
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat Alternates';
    font-weight: 600;
}

.navbarTitle {
    color: white;
    text-shadow: 1px 1px 5px white;
    font-family: "Montserrat Alternates";
}

.navbarLink {
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        color: white;
        transition: 0.3s;
    }
}

.formAndHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin-bottom: 10px;
    line-height: 1.5;
    font-family: "Comfortaa";
}

.description {
    text-align: center;
    line-height: 30px;
    margin-bottom: 15px;
    width: 92%;
    color: $grey;
    font-size: 15px;
}

.form {
    width: 92%;
}

.inputGroup {
    margin-bottom: 10px;
}

.inputWrapper {
    border: 1px solid lighten($grey, 30%);
    border-top: none;
    height: 60px;
    width: 100%;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    font-size: larger;
    &:hover {
        border-color: transparent;
        box-shadow: 0px 0px 15px $primary;
        transform: scale(101%);
        transition: 0.3s;
    }
    &:first-child {
        border-radius: 12px 12px 0px 0px;
        border-top: 1px solid lighten($grey, 30%);
        &:hover {
            border-color: transparent;
        }
    }
    &:last-child {
        border-radius: 0px 0px 12px 12px;
    }
}

.input {
    background: transparent;
    border: none;
    border-radius: 12px;
    outline: none;
    margin-left: 20px;
    height: 100%;
    width: 100%;
}

.additionalButtons {
    display: flex;
    justify-content: space-between;
    font-size: small;
    color: $grey;
}

.passwordRecoveryLink {
    cursor: pointer;
    &:hover {
        color: $primary;
        text-decoration: underline;
    }
}

.registerLinkWrapper {
    font-size: small;
    color: $grey;
    margin-top: 100px;
}

.registerLink {
    color: $primary;
    text-decoration: underline;
    cursor: pointer;
}

.validation {
    font-size: small;
    color: $grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
